:root {
	--white: #e1f1de;
	--orange: #b97f75;
	--red: #6a4b59;
	--gray: #424851;
}

body {
	background: var(--red);
	color: var(--white);
	font-size: large;
}

img {
	max-width: 160px;
	max-height: 200px;
}

button {
	width: 80%;
	height: 20%;
	margin: 2%;

	background: var(--gray);
	color: var(--white);
	border: none;

	cursor: pointer;
}
button:hover {
	background: var(--orange);
}

.center-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

#puppy-grid {
	display: grid;
	grid-template-columns: repeat(4, 170px);
	grid-gap: 1.0%;
}
#puppy-grid > * {
	padding: 2%;
	margin: 10px;
}

.focused-card {
	min-width: 250%;
	min-height: 150%;
}

section {
	background: var(--white);
	color: var(--gray);

	box-shadow: 7px 10px 0px var(--gray);
}

a {
	color: var(--white);
}
a:hover {
	color: var(--orange);
}